<style>
    .profile-card {
        background-color: #2a9fd9;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .profile-img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .profile-text 
    {
        margin-left: 20px;
    }

    .profile-text h2 
    {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .profile-text p 
    {
        margin: 0;
    }

    .experience {
        margin-top: 10px;
        font-style: italic;
    }
</style>


<div class="container-fluid mt-2">
    <div class="profile-card text-light">
        <img src="" alt="Dr. Vinicus Junior" class="profile-img">
        <div class="profile-text">
            <p>Hello,</p>
            <h2 class="text-light">Dr. Vinicus Junior</h2>
            <p>General Surgery, Physician</p>
            <p class="experience">16 Years Experience Overall</p>
        </div>
    </div>
</div>