<body>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
            </div>
            <b class="mb-1"> Your Medical Records</b>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dr. Izabella Sippial</h5>
            </div>
            <p class="mb-1">Diagnosis : Anxiety</p>
            <p class="mb-1">Last visit : 04-05-2024</p>
            <button class="btn btn-outline-primary">View Medical Report</button>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dr. Izabella Sippial</h5>
            </div>
            <p class="mb-1">Diagnosis : Anxiety</p>
            <p class="mb-1">Last visit : 04-05-2024</p>
            <button class="btn btn-outline-primary">View Medical Report</button>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dr. Izabella Sippial</h5>
            </div>
            <p class="mb-1">Diagnosis : Anxiety</p>
            <p class="mb-1">Last visit : 04-05-2024</p>
            <button class="btn btn-outline-primary">View Medical Report</button>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dr. Izabella Sippial</h5>
            </div>
            <p class="mb-1">Diagnosis : Anxiety</p>
            <p class="mb-1">Last visit : 04-05-2024</p>
            <button class="btn btn-outline-primary">View Medical Report</button>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dr. Izabella Sippial</h5>
            </div>
            <p class="mb-1">Diagnosis : Anxiety</p>
            <p class="mb-1">Last visit : 04-05-2024</p>
            <button class="btn btn-outline-primary">View Medical Report</button>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Dr. Izabella Sippial</h5>
            </div>
            <p class="mb-1">Diagnosis : Anxiety</p>
            <p class="mb-1">Last visit : 04-05-2024</p>
            <button class="btn btn-outline-primary">View Medical Report</button>
        </a>
    </div>
</body>